*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(20deg, #08aeea 0%, #2af598 100%);
    font-family: "Open Sans", Sans-serif;
}

.tabs {
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 50px auto;
    background: #fff;
    border-radius: 4px;
}

.tab {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    text-align: center;
    color: #555;
    border: 1px solid transparent;
    cursor: pointer;
}

.icon {
    margin-right: 10px;
}

.tab.active {
    border: 1px solid #ddd;
    border-top: 2px solid #f44336;
    border-bottom: 1px solid #fff;
}

.tab-content {
    /* display: none; */
    padding: 20px;
    border: 1px solid #ddd;
    line-height: 1.6rem;
}
