.inlineBlock {
    display: inline-block;
}

.inlineBlock1 {
    height: 400px;
    width: 40%;
}

.inlineBlock2 {
    height: 400xp;
    padding: 30px;
    width: 58%;
    float: right;
}

img.mainImg {
    height: 400px;
}

.jbFixed {
    position: fixed;
    top: 0px;
}

.dummy {
    height: 100px;
    width: 100px;
}

.menuBar {
    text-align: center;
    background-color: lightblue;
}

li.nav-item {
    width: 275px;
}

.header {
    margin-bottom: 100px;
}

.productImg {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.showHide {
    display: none;
}

.center {
    text-align: center;
}

table {
    border-top: 1px solid lightgray;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.tableColor {
    background-color: #fafafa;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 80px;
    height: 80px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 400px;
    height: 400px;
}
