html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #292c2f;
    font-family: monospace;
    overflow: hidden;
}

header {
    height: 70px;
    line-height: 70px;
    background: #252525;
}

.range-container {
    position: absolute;
    left: 30px;
    top: 25px;
    width: 300px;
    height: 20px;
}

.range {
    position: relative;
    margin: 0 10px;
    height: 20px;
    cursor: pointer;
}

.range-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background: #424242;
    border-radius: 4px;
}

.range-track.fill {
    width: 0%;
    background: #4ac1ff;
}

.range-handle {
    position: absolute;
    left: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    outline: none;
}

.gradient {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    background-image: linear-gradient(0deg, #f1a829, #f14429);
}

.gradient-val {
    color: #ccc;
    font-size: 14px;
    font-weight: 800;
    padding-left: 350px;
    user-select: none;
}

.gradient-val span {
    color: #ccc;
}
